html {
  font-family: 'Inter';
}
body {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.border {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  border-radius: 5px;
}

#sampleui, #sampleposting, #userstories {
  width: 100%;
  max-width: 500px;

  margin: auto;
  /* height: 100%; */
}

form {
  padding: 5px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  margin-bottom: 5px;
}
code {
  font-family: 'JetBrains Mono';
}